
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
.main-page{
  width: 100%;
  max-width: 1620px;
  font-family: var(--font-roboto);
  margin: 0 auto;
  background: #2c96ec;
}

/* Шапка */
.header{
  width: 100%;
  background: var(--color-161616);
  border-radius: 0 0 0 35px;
  border-bottom: 5px solid var(--color-FFBB00);
  border-left: 5px solid var(--color-FFBB00);
  box-sizing: border-box;
}
.header-nav{
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width:80px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
}
.logo img{
  width: 100%;
  display: block;
}
.nav-items{
  display: flex;
  align-items: center;
}
.nav-items li{
  margin: 5px;
}
.nav-items a{
  font-weight: var(--font-weight-700);
  font-size: 2.5rem;
  color: var(--color-CCCCCC);
  padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
  background: none;
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-700);
  font-size: 2.5rem;
  color: var(--color-CCCCCC);
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.dropbtn:hover, 
.dropbtn:focus {
  color:var(--color-2c96ec);
}
.dropdown {
  /* position: relative; */
  display: inline-block;
  width: 90%;
  text-align: end;
}
.dropdown-content {
    display: none;
    position: fixed;
    background: #161616cc;
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    border-radius: 10px;
    
    /* margin-top: 8px; */
    padding: 35px 20px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
    margin: 5px;
}
.show {
    display: block;
    text-align:start;
}
/* Головний контент */
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Секція 1 */
.work-1{
    padding: 20px;
    border-radius: 0 0 35px 0;
    border-right: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.work-2{
  width: 80%;
  background-color: tan;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}
.work-2 > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Стилі калькулятора */
.box {
background-color: #3d4543;
height: 300px;
width: 250px;
border-radius: 10px;
position: relative;
margin: 30px auto;
}
  
.display {
background-color: #222;
width: 225px;
position: absolute;
left: 12px;
top: 20px;
height: 40px;
}
  
#show-display {
    font-weight: var(--font-weight-600);
    width: 220px;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    background-color: #bccd95;
    font-size: 21px;
    text-align: right;
}
  
#show-sekond-display{
    width: 220px;
    position: absolute;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    border: none;
    padding-left: 5px;
    background:none;
    font-size: 15px;
    text-align: start;
}

.keys {
  position: absolute;
  top: 15px;
  top: 90px;
}
  
.button {
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 8px;
  margin-left: 17px;
  cursor: pointer;
  border-top: 2px solid transparent;
  outline: none;
}
  
.button.gray {
  color: white;
  background-color: #6f6f6f;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
}
  
.button.pink {
  color: black;
  background-color: #ff4561;
  border-bottom: black 2px solid;
}
  
.button.black {
  color: white;
  background-color: #303030;
  border-bottom: black 2px solid;
  border-top: 2px #303030 solid;
}
.orange,
.pink{
  font-weight: var(--font-weight-600);
  font-size: 1.6rem;
}


.button.orange {
  color: black;
  background-color: #FF9933;
  border-bottom: black 2px solid;
  border-top: 2px #FF9933 solid;
}
  
.gray:active {
  border-top: black 2px solid;
  border-bottom: 2px #6f6f6f solid;
}
  
.pink:active {
  border-top: black 2px solid;
  border-bottom: #ff4561 2px solid;
}
  
.black:active {
  border-top: black 2px solid;
  border-bottom: #303030 2px solid;
}
  
.orange:active {
  border-top: black 2px solid;
  border-bottom: #FF9933 2px solid;
}
  
.keys > p {
  line-height:10px;
  margin-top: 2px;
  margin-bottom: 8px;
}
  
input[disabled] {
opacity: .5 ;
}


/* Підвал */
.footer{
  background: var(--color-161616);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--color-FFBB00);
}
.footer li{
  font-weight: var(--font-weight-700);
  font-size: 2rem;
  color: var(--color-CCCCCC);
  padding: 3px;
  margin: 5px;
}
.footer-link{
  font-weight: var(--font-weight-700);
  font-size: 1.6rem;
  color: var(--color-CCCCCC);
  padding: 3px;
}
.time{
  font-weight: var(--font-weight-700);
  font-size: 1.5rem;
  color: var(--color-CCCCCC);
  padding: 3px; 
}



